body{
    overflow-x: hidden;

}


.logo{
    position: absolute;
    top: 2%;
    left:3%;
}
.navibtns li{
    color: white;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position:relative;
    left: 45%;
    top:3%;
   
    
}

.navibtns li a{
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    margin-top:20%;

}

.navibtns .signup {
    background-color: #0b2c14;
    color:  white;
   

    
}

.content{
    
    display: inline-block;
    position:absolute;
    left:20%;
    top:30%;

}
.contxt::before{
    content: "Waiterist Employee ";
    color: #1A535c;

}
.nomock{
    position: absolute;
    left: 60%;
    top: 30%;
}

img{
    width:150px;
    height: 50px;
    margin-left: 10px;
}
footer{
    width: 100%;
    position:absolute;
    top: 70%;
    height: 30%;
    background-color: #05250e;
    left:-1%;
}
.txt{
    color: white;
    position:absolute;
    left: 10%;
    top: 5%;
    font-size: 24px;
}
.btmnavibtns{
    position: absolute;
    top: 23%;
    left: 6%;
    
}
.btmnavibtns li{
    color: white;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;

}
.horline{
    width:80%;
    left:10%;
    
    color: white;

    position: absolute;
    top: 50%;
   
}
 .subscription{
     position: absolute;
     left: 70%;
     top: 10%;
 }
 p{
     color: white;
 }
 button{
     background-color: #eb5008;
     color: white;
     font-weight: bold;
 }
    
.copyright{
    position: absolute;
    top: 60%;
    left: 40%;
}
